nltk==3.5
beautifulsoup4==4.9.3
scikit-learn==0.23.2
numpy==1.19.4
pyenchant==3.1.1
tabulate==0.8.7
gensim==3.8.3
cachelib==0.1.1
plotly==4.14.1
networkx==2.5
bs4==0.0.1
matplotlib==3.3.3
textblob==0.15.3
